*{
	margin: 0px;
	padding: 0px;
}
body{
	
}
/*Fonts*/
@font-face{
	font-family: Ge Body;
	src: url("../fonts/Ge Body [RUS by Daymarius].ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}

nav{
	background: #4D1361;
}
a:hover{
	color: #ED6FED;
}

.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.button:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #ED6FED;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.nav-link{
	color: white;
	margin-top: 25px;
}
.navbar-brand{
	padding: 0;
	margin: 0;
	display: block;
}
.navbar-toggler{
	background-color: white;
	height: 40px;
	width: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.nav-item{
	font-size: 1.3vw;
	width: 25%;
	text-align: center;
	font-family: Ge Body;
}
.logo-ad{
	width:0px;
	height:0px;}
@media(max-width: 990px){
	.nav-item{
		width: 100%;
	}
	.nav-link{
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 15px;
	}
	.navbar-brand{
		height: 0px;
		width: 0px;
		visibility: hidden;
	}
	.logo-ad{
		width:50px;
		height:50px;
	}
}
.mouse-parallax{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.mouse-parallax__content{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.mouse-parallax__background{
	position: absolute;
	z-index: -1;
	height: 110%;
	width: 110%;
	background-position: center center;
	background-image: url("../img/Klass.png");
	background-size: cover;
}
/*.firstRectengle{
	background-image: url("../img/Rectangle 2.png");
	height: 100%;
}
.secondRectengle{
	background-image: url("../img/Rectangle 3.png") none;
	height: 100%;
	position: fixed;
}
*/